{% extends 'base.html'%}

{% block css_files %}
    <link rel="stylesheet" href = "{% static 'challenges/challenge.css' %}">
    <link rel="stylesheet" href = "{% static 'challenges/includes/header.css' %}">
{% endblock %}

<!------- PAGE TITLE -------->
{% block page_title%}
    {{ month | title }}
{% endblock %}

{% block content %}

    {% include 'challenges/includes/header.html' %}

    <h1>{{ month | title }}'s challenge</h1>
    {%if text is not None%}
        <h2>{{ text }}</h2>
    {%else%}
        <p> There is no challeng for this month!</p>
    {% endif %}

{% endblock %}